:root {
  /* colors */

  --white: white;
  --gray-0: #F3F3F3;
  --gray-10: #E2E2E2;
  --gray-20: #C2C2C2;
  --gray-30: #7F7F7F;
  --gray-40: #494949;
  --gray-50: #373737;
  --gray-60: #2E2E2E;
  --gray-70: #212121;
  --gray-80: #1C1C1C;
  --gray-90: #191919;
  --gray-100: #151515;
  --black: black;

  --glass-003: rgba(255, 255, 255, 0.03);
  --glass-006: rgba(255, 255, 255, 0.06);
  --glass-03: rgba(255, 255, 255, 0.3);
  --glass-04: rgba(255, 255, 255, 0.4);
  --glass-06: rgba(255, 255, 255, 0.6);
  --glass-07: rgba(255, 255, 255, 0.7);

  --border-gradient: linear-gradient(
    180deg,
    rgba(73, 73, 73, 0.3) 0%,
    rgba(73, 73, 73, 0) 100%
  );

  /* legacy colors */

  --graphite-100: var(--gray-100);
  --graphite-90: var(--gray-70);
  --graphite-80: var(--gray-60);
  --graphite-70: var(--gray-40);
  --graphite-60: var(--gray-30);
  --graphite-50: var(--gray-20);
  --graphite-0: var(--white);

  /* collapse */

  --collapse-duration: 0.4s;
  --collapse-easing: cubic-bezier(.22, .61, .36, 1);
}
