/* @font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebas/BebasNeueBold.eot');
    src: local('Bebas Neue Bold'), url('../fonts/bebas/BebasNeueBold.woff') format('woff'),
        url('../fonts/bebas/BebasNeueBold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
    font-display: block;
} */

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
         url("./assets/fonts/Roboto/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto/Roboto-Medium.woff2") format("woff2"),
         url("./assets/fonts/Roboto/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto/Roboto-MediumItalic.woff2") format("woff2"),
         url("./assets/fonts/Roboto/Roboto-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
         url("./assets/fonts/Roboto/Roboto-Bold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Gorod";
    src: url("./assets/fonts/Gorod/Gorod.woff2") format("woff2"),
         url("./assets/fonts/Gorod/Gorod.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "IrishAP";
    src: url("./assets/fonts/IrishAP/IrishAP.woff2") format("woff2"),
         url("./assets/fonts/IrishAP/IrishAP.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "PT-Serif";
    src: url("./assets/fonts/PT-Serif/PT-Serif.woff2") format("woff2"),
         url("./assets/fonts/PT-Serif/PT-Serif.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Playfair-Display";
    src: url("./assets/fonts/Playfair-Display/Playfair-Display.woff2") format("woff2"),
         url("./assets/fonts/Playfair-Display/Playfair-Display.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Oranienbaum";
    src: url("./assets/fonts/Oranienbaum/Oranienbaum.woff2") format("woff2"),
         url("./assets/fonts/Oranienbaum/Oranienbaum.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Calypso";
    src: url("./assets/fonts/Calypso/Calypso.woff2") format("woff2"),
         url("./assets/fonts/Calypso/Calypso.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "GarciaMarquez";
    src: url("./assets/fonts/GarciaMarquez/GarciaMarquez.woff2") format("woff2"),
         url("./assets/fonts/GarciaMarquez/GarciaMarquez.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Ouroboros";
    src: url("./assets/fonts/Ouroboros/Ouroboros.woff2") format("woff2"),
         url("./assets/fonts/Ouroboros/Ouroboros.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Rassvet";
    src: url("./assets/fonts/Rassvet/Rassvet.woff2") format("woff2"),
         url("./assets/fonts/Rassvet/Rassvet.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "EBGaramond";
    src: url("./assets/fonts/EBGaramond/EBGaramond.woff2") format("woff2"),
         url("./assets/fonts/EBGaramond/EBGaramond.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "BebasNeue";
    src: url("./assets/fonts/BebasNeue/BebasNeue.woff2") format("woff2"),
         url("./assets/fonts/BebasNeue/BebasNeue.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "ClutchSans";
    src: url("./assets/fonts/ClutchSans/ClutchSans.woff2") format("woff2"),
         url("./assets/fonts/ClutchSans/ClutchSans.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "DRAZKI9";
    src: url("./assets/fonts/DRAZKI9/DRAZKI9.woff2") format("woff2"),
         url("./assets/fonts/DRAZKI9/DRAZKI9.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "LeMurmure";
    src: url("./assets/fonts/LeMurmure/LeMurmure.woff2") format("woff2"),
         url("./assets/fonts/LeMurmure/LeMurmure.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "MovieLetters";
    src: url("./assets/fonts/MovieLetters/MovieLetters.woff2") format("woff2"),
         url("./assets/fonts/MovieLetters/MovieLetters.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Obrazec2";
    src: url("./assets/fonts/Obrazec2/Obrazec2.woff2") format("woff2"),
         url("./assets/fonts/Obrazec2/Obrazec2.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Outward";
    src: url("./assets/fonts/Outward/Outward.woff2") format("woff2"),
         url("./assets/fonts/Outward/Outward.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Pobeda";
    src: url("./assets/fonts/Pobeda/Pobeda.woff2") format("woff2"),
         url("./assets/fonts/Pobeda/Pobeda.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "MonTrappist";
    src: url("./assets/fonts/MonTrappist/MonTrappist.woff2") format("woff2"),
         url("./assets/fonts/MonTrappist/MonTrappist.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "ZooCage";
    src: url("./assets/fonts/ZooCage/ZooCage.woff2") format("woff2"),
         url("./assets/fonts/ZooCage/ZooCage.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat/Montserrat.woff2") format("woff2"),
         url("./assets/fonts/Montserrat/Montserrat.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "RussoOne";
    src: url("./assets/fonts/RussoOne/RussoOne.woff2") format("woff2"),
         url("./assets/fonts/RussoOne/RussoOne.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "FiraSans";
    src: url("./assets/fonts/FiraSans/FiraSans.woff2") format("woff2"),
         url("./assets/fonts/FiraSans/FiraSans.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "IBMPlexSans";
    src: url("./assets/fonts/IBMPlexSans/IBMPlexSans.woff2") format("woff2"),
         url("./assets/fonts/IBMPlexSans/IBMPlexSans.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "PTSans";
    src: url("./assets/fonts/PTSans/PTSans.woff2") format("woff2"),
         url("./assets/fonts/PTSans/PTSans.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Rubik";
    src: url("./assets/fonts/Rubik/Rubik.woff2") format("woff2"),
         url("./assets/fonts/Rubik/Rubik.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Butovo";
    src: url("./assets/fonts/Butovo/Butovo.woff2") format("woff2"),
         url("./assets/fonts/Butovo/Butovo.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Furore";
    src: url("./assets/fonts/Furore/Furore.woff2") format("woff2"),
         url("./assets/fonts/Furore/Furore.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "IncopinsClusters";
    src: url("./assets/fonts/IncopinsClusters/IncopinsClusters.woff2") format("woff2"),
         url("./assets/fonts/IncopinsClusters/IncopinsClusters.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "LozungCaps";
    src: url("./assets/fonts/LozungCaps/LozungCaps.woff2") format("woff2"),
         url("./assets/fonts/LozungCaps/LozungCaps.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "MoscowMetro";
    src: url("./assets/fonts/MoscowMetro/MoscowMetro.woff2") format("woff2"),
         url("./assets/fonts/MoscowMetro/MoscowMetro.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Sticks";
    src: url("./assets/fonts/Sticks/Sticks.woff2") format("woff2"),
         url("./assets/fonts/Sticks/Sticks.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Tablon";
    src: url("./assets/fonts/Tablon/Tablon.woff2") format("woff2"),
         url("./assets/fonts/Tablon/Tablon.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "DisketMono";
    src: url("./assets/fonts/DisketMono/DisketMono.woff2") format("woff2"),
         url("./assets/fonts/DisketMono/DisketMono.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "RubikMonoOne";
    src: url("./assets/fonts/RubikMonoOne/RubikMonoOne.woff2") format("woff2"),
         url("./assets/fonts/RubikMonoOne/RubikMonoOne.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter/Inter.woff2") format("woff2"),
         url("./assets/fonts/Inter/Inter.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "NeutralFace";
    src: url("./assets/fonts/NeutralFace/NeutralFace.woff2") format("woff2"),
         url("./assets/fonts/NeutralFace/NeutralFace.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "PTRootUI";
    src: url("./assets/fonts/PTRootUI/PTRootUI.woff2") format("woff2"),
         url("./assets/fonts/PTRootUI/PTRootUI.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Airfool";
    src: url("./assets/fonts/Airfool/Airfool.woff2") format("woff2"),
         url("./assets/fonts/Airfool/Airfool.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "ComicCat";
    src: url("./assets/fonts/ComicCat/ComicCat.woff2") format("woff2"),
         url("./assets/fonts/ComicCat/ComicCat.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Pomidor";
    src: url("./assets/fonts/Pomidor/Pomidor.woff2") format("woff2"),
         url("./assets/fonts/Pomidor/Pomidor.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Shirota";
    src: url("./assets/fonts/Shirota/Shirota.woff2") format("woff2"),
         url("./assets/fonts/Shirota/Shirota.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Abraxas";
    src: url("./assets/fonts/Abraxas/Abraxas.woff2") format("woff2"),
         url("./assets/fonts/Abraxas/Abraxas.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Misto";
    src: url("./assets/fonts/Misto/Misto.woff2") format("woff2"),
         url("./assets/fonts/Misto/Misto.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "MutaborGrotesque";
    src: url("./assets/fonts/MutaborGrotesque/MutaborGrotesque.woff2") format("woff2"),
         url("./assets/fonts/MutaborGrotesque/MutaborGrotesque.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Practice";
    src: url("./assets/fonts/Practice/Practice.woff2") format("woff2"),
         url("./assets/fonts/Practice/Practice.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "SoyuzGrotesk";
    src: url("./assets/fonts/SoyuzGrotesk/SoyuzGrotesk.woff2") format("woff2"),
         url("./assets/fonts/SoyuzGrotesk/SoyuzGrotesk.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "SportingGrotesque";
    src: url("./assets/fonts/SportingGrotesque/SportingGrotesque.woff2") format("woff2"),
         url("./assets/fonts/SportingGrotesque/SportingGrotesque.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "StalinistOne";
    src: url("./assets/fonts/StalinistOne/StalinistOne.woff2") format("woff2"),
         url("./assets/fonts/StalinistOne/StalinistOne.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Parabola";
    src: url("./assets/fonts/Parabola/Parabola.woff2") format("woff2"),
         url("./assets/fonts/Parabola/Parabola.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Pomidorko";
    src: url("./assets/fonts/Pomidorko/Pomidorko.woff2") format("woff2"),
         url("./assets/fonts/Pomidorko/Pomidorko.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Riverhack";
    src: url("./assets/fonts/Riverhack/Riverhack.woff2") format("woff2"),
         url("./assets/fonts/Riverhack/Riverhack.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "AllegroScript";
    src: url("./assets/fonts/AllegroScript/AllegroScript.woff2") format("woff2"),
         url("./assets/fonts/AllegroScript/AllegroScript.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Dobroshrift2";
    src: url("./assets/fonts/Dobroshrift2/Dobroshrift2.woff2") format("woff2"),
         url("./assets/fonts/Dobroshrift2/Dobroshrift2.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "GangofThree";
    src: url("./assets/fonts/GangofThree/GangofThree.woff2") format("woff2"),
         url("./assets/fonts/GangofThree/GangofThree.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Juan";
    src: url("./assets/fonts/Juan/Juan.woff2") format("woff2"),
         url("./assets/fonts/Juan/Juan.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Tangak";
    src: url("./assets/fonts/Tangak/Tangak.woff2") format("woff2"),
         url("./assets/fonts/Tangak/Tangak.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Belozersk";
    src: url("./assets/fonts/Belozersk/Belozersk.woff2") format("woff2"),
         url("./assets/fonts/Belozersk/Belozersk.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Lavka";
    src: url("./assets/fonts/Lavka/Lavka.woff2") format("woff2"),
         url("./assets/fonts/Lavka/Lavka.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Lutsk";
    src: url("./assets/fonts/Lutsk/Lutsk.woff2") format("woff2"),
         url("./assets/fonts/Lutsk/Lutsk.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "PertsovType";
    src: url("./assets/fonts/PertsovType/PertsovType.woff2") format("woff2"),
         url("./assets/fonts/PertsovType/PertsovType.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Tsarevich";
    src: url("./assets/fonts/Tsarevich/Tsarevich.woff2") format("woff2"),
         url("./assets/fonts/Tsarevich/Tsarevich.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Keleti";
    src: url("./assets/fonts/Keleti/Keleti.woff2") format("woff2"),
         url("./assets/fonts/Keleti/Keleti.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "MonoBiletik";
    src: url("./assets/fonts/MonoBiletik/MonoBiletik.woff2") format("woff2"),
         url("./assets/fonts/MonoBiletik/MonoBiletik.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "PressStart2P";
    src: url("./assets/fonts/PressStart2P/PressStart2P.woff2") format("woff2"),
         url("./assets/fonts/PressStart2P/PressStart2P.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "UpheavalPro";
    src: url("./assets/fonts/UpheavalPro/UpheavalPro.woff2") format("woff2"),
         url("./assets/fonts/UpheavalPro/UpheavalPro.woff") format("woff");
    font-weight: normal;
    font-display: block;
}