/* @font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/bebas/BebasNeueBold.eot');
    src: local('Bebas Neue Bold'), url('../fonts/bebas/BebasNeueBold.woff') format('woff'),
        url('../fonts/bebas/BebasNeueBold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
    font-display: block;
} */

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
         url("./assets/fonts/Roboto/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto/Roboto-Medium.woff2") format("woff2"),
         url("./assets/fonts/Roboto/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto/Roboto-MediumItalic.woff2") format("woff2"),
         url("./assets/fonts/Roboto/Roboto-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
         url("./assets/fonts/Roboto/Roboto-Bold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Gorod";
    src: url("./assets/fonts/Gorod/Gorod.woff2") format("woff2"),
         url("./assets/fonts/Gorod/Gorod.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "IrishAP";
    src: url("./assets/fonts/IrishAP/IrishAP.woff2") format("woff2"),
         url("./assets/fonts/IrishAP/IrishAP.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "PT Serif";
    src: url("./assets/fonts/PT-Serif/PT-Serif.woff2") format("woff2"),
         url("./assets/fonts/PT-Serif/PT-Serif.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Playfair Display";
    src: url("./assets/fonts/Playfair-Display/Playfair-Display.woff2") format("woff2"),
         url("./assets/fonts/Playfair-Display/Playfair-Display.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Oranienbaum";
    src: url("./assets/fonts/Oranienbaum/Oranienbaum.woff2") format("woff2"),
         url("./assets/fonts/Oranienbaum/Oranienbaum.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Calypso";
    src: url("./assets/fonts/Calypso/Calypso.woff2") format("woff2"),
         url("./assets/fonts/Calypso/Calypso.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Garcia Marquez";
    src: url("./assets/fonts/GarciaMarquez/GarciaMarquez.woff2") format("woff2"),
         url("./assets/fonts/GarciaMarquez/GarciaMarquez.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Ouroboros";
    src: url("./assets/fonts/Ouroboros/Ouroboros.woff2") format("woff2"),
         url("./assets/fonts/Ouroboros/Ouroboros.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Rassvet";
    src: url("./assets/fonts/Rassvet/Rassvet.woff2") format("woff2"),
         url("./assets/fonts/Rassvet/Rassvet.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "EB Garamond";
    src: url("./assets/fonts/EBGaramond/EBGaramond.woff2") format("woff2"),
         url("./assets/fonts/EBGaramond/EBGaramond.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "BebasNeue";
    src: url("./assets/fonts/BebasNeue/BebasNeue.woff2") format("woff2"),
         url("./assets/fonts/BebasNeue/BebasNeue.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Clutch Sans";
    src: url("./assets/fonts/ClutchSans/ClutchSans.woff2") format("woff2"),
         url("./assets/fonts/ClutchSans/ClutchSans.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "DRAZKI9";
    src: url("./assets/fonts/DRAZKI9/DRAZKI9.woff2") format("woff2"),
         url("./assets/fonts/DRAZKI9/DRAZKI9.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Le Murmure";
    src: url("./assets/fonts/LeMurmure/LeMurmure.woff2") format("woff2"),
         url("./assets/fonts/LeMurmure/LeMurmure.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Movie Letters";
    src: url("./assets/fonts/MovieLetters/MovieLetters.woff2") format("woff2"),
         url("./assets/fonts/MovieLetters/MovieLetters.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Obrazec2";
    src: url("./assets/fonts/Obrazec2/Obrazec2.woff2") format("woff2"),
         url("./assets/fonts/Obrazec2/Obrazec2.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Outward";
    src: url("./assets/fonts/Outward/Outward.woff2") format("woff2"),
         url("./assets/fonts/Outward/Outward.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Pobeda";
    src: url("./assets/fonts/Pobeda/Pobeda.woff2") format("woff2"),
         url("./assets/fonts/Pobeda/Pobeda.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Mon Trappist";
    src: url("./assets/fonts/MonTrappist/MonTrappist.woff2") format("woff2"),
         url("./assets/fonts/MonTrappist/MonTrappist.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "ZooCage";
    src: url("./assets/fonts/ZooCage/ZooCage.woff2") format("woff2"),
         url("./assets/fonts/ZooCage/ZooCage.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Montserrat";
    src: url("./assets/fonts/Montserrat/Montserrat.woff2") format("woff2"),
         url("./assets/fonts/Montserrat/Montserrat.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Russo One";
    src: url("./assets/fonts/RussoOne/RussoOne.woff2") format("woff2"),
         url("./assets/fonts/RussoOne/RussoOne.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Fira Sans";
    src: url("./assets/fonts/FiraSans/FiraSans.woff2") format("woff2"),
         url("./assets/fonts/FiraSans/FiraSans.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "IBMPlexSans";
    src: url("./assets/fonts/IBMPlexSans/IBMPlexSans.woff2") format("woff2"),
         url("./assets/fonts/IBMPlexSans/IBMPlexSans.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "PT Sans";
    src: url("./assets/fonts/PTSans/PTSans.woff2") format("woff2"),
         url("./assets/fonts/PTSans/PTSans.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Rubik";
    src: url("./assets/fonts/Rubik/Rubik.woff2") format("woff2"),
         url("./assets/fonts/Rubik/Rubik.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Butovo";
    src: url("./assets/fonts/Butovo/Butovo.woff2") format("woff2"),
         url("./assets/fonts/Butovo/Butovo.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Furore";
    src: url("./assets/fonts/Furore/Furore.woff2") format("woff2"),
         url("./assets/fonts/Furore/Furore.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Incopins Clusters";
    src: url("./assets/fonts/IncopinsClusters/IncopinsClusters.woff2") format("woff2"),
         url("./assets/fonts/IncopinsClusters/IncopinsClusters.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Lozung Caps";
    src: url("./assets/fonts/LozungCaps/LozungCaps.woff2") format("woff2"),
         url("./assets/fonts/LozungCaps/LozungCaps.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Moscow Metro";
    src: url("./assets/fonts/MoscowMetro/MoscowMetro.woff2") format("woff2"),
         url("./assets/fonts/MoscowMetro/MoscowMetro.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Sticks";
    src: url("./assets/fonts/Sticks/Sticks.woff2") format("woff2"),
         url("./assets/fonts/Sticks/Sticks.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Tablon";
    src: url("./assets/fonts/Tablon/Tablon.woff2") format("woff2"),
         url("./assets/fonts/Tablon/Tablon.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Disket Mono";
    src: url("./assets/fonts/DisketMono/DisketMono.woff2") format("woff2"),
         url("./assets/fonts/DisketMono/DisketMono.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Rubik Mono One";
    src: url("./assets/fonts/RubikMonoOne/RubikMonoOne.woff2") format("woff2"),
         url("./assets/fonts/RubikMonoOne/RubikMonoOne.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter/Inter.woff2") format("woff2"),
         url("./assets/fonts/Inter/Inter.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Neutral Face";
    src: url("./assets/fonts/NeutralFace/NeutralFace.woff2") format("woff2"),
         url("./assets/fonts/NeutralFace/NeutralFace.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "PT Root UI";
    src: url("./assets/fonts/PTRootUI/PTRootUI.woff2") format("woff2"),
         url("./assets/fonts/PTRootUI/PTRootUI.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Airfool";
    src: url("./assets/fonts/Airfool/Airfool.woff2") format("woff2"),
         url("./assets/fonts/Airfool/Airfool.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Comic Cat";
    src: url("./assets/fonts/ComicCat/ComicCat.woff2") format("woff2"),
         url("./assets/fonts/ComicCat/ComicCat.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Pomidor";
    src: url("./assets/fonts/Pomidor/Pomidor.woff2") format("woff2"),
         url("./assets/fonts/Pomidor/Pomidor.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Shirota";
    src: url("./assets/fonts/Shirota/Shirota.woff2") format("woff2"),
         url("./assets/fonts/Shirota/Shirota.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Abraxas";
    src: url("./assets/fonts/Abraxas/Abraxas.woff2") format("woff2"),
         url("./assets/fonts/Abraxas/Abraxas.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Misto";
    src: url("./assets/fonts/Misto/Misto.woff2") format("woff2"),
         url("./assets/fonts/Misto/Misto.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Mutabor Grotesque";
    src: url("./assets/fonts/MutaborGrotesque/MutaborGrotesque.woff2") format("woff2"),
         url("./assets/fonts/MutaborGrotesque/MutaborGrotesque.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Practice";
    src: url("./assets/fonts/Practice/Practice.woff2") format("woff2"),
         url("./assets/fonts/Practice/Practice.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Soyuz Grotesk";
    src: url("./assets/fonts/SoyuzGrotesk/SoyuzGrotesk.woff2") format("woff2"),
         url("./assets/fonts/SoyuzGrotesk/SoyuzGrotesk.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Sporting Grotesque";
    src: url("./assets/fonts/SportingGrotesque/SportingGrotesque.woff2") format("woff2"),
         url("./assets/fonts/SportingGrotesque/SportingGrotesque.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Stalinist One";
    src: url("./assets/fonts/StalinistOne/StalinistOne.woff2") format("woff2"),
         url("./assets/fonts/StalinistOne/StalinistOne.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Parabola";
    src: url("./assets/fonts/Parabola/Parabola.woff2") format("woff2"),
         url("./assets/fonts/Parabola/Parabola.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Pomidorko";
    src: url("./assets/fonts/Pomidorko/Pomidorko.woff2") format("woff2"),
         url("./assets/fonts/Pomidorko/Pomidorko.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Riverhack";
    src: url("./assets/fonts/Riverhack/Riverhack.woff2") format("woff2"),
         url("./assets/fonts/Riverhack/Riverhack.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Allegro Script";
    src: url("./assets/fonts/AllegroScript/AllegroScript.woff2") format("woff2"),
         url("./assets/fonts/AllegroScript/AllegroScript.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Dobroshrift";
    src: url("./assets/fonts/Dobroshrift2/Dobroshrift2.woff2") format("woff2"),
         url("./assets/fonts/Dobroshrift2/Dobroshrift2.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Gang of Three";
    src: url("./assets/fonts/GangofThree/GangofThree.woff2") format("woff2"),
         url("./assets/fonts/GangofThree/GangofThree.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Juan";
    src: url("./assets/fonts/Juan/Juan.woff2") format("woff2"),
         url("./assets/fonts/Juan/Juan.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Tangak";
    src: url("./assets/fonts/Tangak/Tangak.woff2") format("woff2"),
         url("./assets/fonts/Tangak/Tangak.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Belozersk";
    src: url("./assets/fonts/Belozersk/Belozersk.woff2") format("woff2"),
         url("./assets/fonts/Belozersk/Belozersk.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Lavka";
    src: url("./assets/fonts/Lavka/Lavka.woff2") format("woff2"),
         url("./assets/fonts/Lavka/Lavka.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Lutsk";
    src: url("./assets/fonts/Lutsk/Lutsk.woff2") format("woff2"),
         url("./assets/fonts/Lutsk/Lutsk.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Pertsov Type";
    src: url("./assets/fonts/PertsovType/PertsovType.woff2") format("woff2"),
         url("./assets/fonts/PertsovType/PertsovType.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Tsarevich";
    src: url("./assets/fonts/Tsarevich/Tsarevich.woff2") format("woff2"),
         url("./assets/fonts/Tsarevich/Tsarevich.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Keleti";
    src: url("./assets/fonts/Keleti/Keleti.woff2") format("woff2"),
         url("./assets/fonts/Keleti/Keleti.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Mono Biletik";
    src: url("./assets/fonts/Monobiletik/MonoBiletik.woff2") format("woff2"),
         url("./assets/fonts/Monobiletik/MonoBiletik.woff") format("woff");
    font-weight: normal;
    font-display: block;
}


@font-face {
    font-family: "Press Start2P";
    src: url("./assets/fonts/PressStart2P/PressStart2P.woff2") format("woff2"),
         url("./assets/fonts/PressStart2P/PressStart2P.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Upheaval Pro";
    src: url("./assets/fonts/UpheavalPro/UpheavalPro.woff2") format("woff2"),
         url("./assets/fonts/UpheavalPro/UpheavalPro.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "AlegreyaSans";
    src: url("./assets/fonts/AlegreyaSans/AlegreyaSans.woff2") format("woff2"),
         url("./assets/fonts/AlegreyaSans/AlegreyaSans.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "BadScript";
    src: url("./assets/fonts/BadScript/BadScript.woff2") format("woff2"),
         url("./assets/fonts/BadScript/BadScript.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Balkara";
    src: url("./assets/fonts/Balkara/Balkara.woff2") format("woff2"),
         url("./assets/fonts/Balkara/Balkara.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Beryozki";
    src: url("./assets/fonts/Beryozki/Beryozki.woff2") format("woff2"),
         url("./assets/fonts/Beryozki/Beryozki.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Caveat";
    src: url("./assets/fonts/Caveat/Caveat.woff2") format("woff2"),
         url("./assets/fonts/Caveat/Caveat.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Colus";
    src: url("./assets/fonts/Colus/Colus.woff2") format("woff2"),
         url("./assets/fonts/Colus/Colus.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Commissioner";
    src: url("./assets/fonts/Commissioner/Commissioner.woff2") format("woff2"),
         url("./assets/fonts/Commissioner/Commissioner.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Concrete";
    src: url("./assets/fonts/Concrete/Concrete.woff2") format("woff2"),
         url("./assets/fonts/Concrete/Concrete.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Corki";
    src: url("./assets/fonts/Corki/Corki.woff2") format("woff2"),
         url("./assets/fonts/Corki/Corki.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "CormorantUnicase";
    src: url("./assets/fonts/CormorantUnicase/CormorantUnicase.woff2") format("woff2"),
         url("./assets/fonts/CormorantUnicase/CormorantUnicase.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "DidactGothic";
    src: url("./assets/fonts/DidactGothic/DidactGothic.woff2") format("woff2"),
         url("./assets/fonts/DidactGothic/DidactGothic.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "DotGothic16";
    src: url("./assets/fonts/DotGothic16/DotGothic16.woff2") format("woff2"),
         url("./assets/fonts/DotGothic16/DotGothic16.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "EastSeaDokdo";
    src: url("./assets/fonts/EastSeaDokdo/EastSeaDokdo.woff2") format("woff2"),
         url("./assets/fonts/EastSeaDokdo/EastSeaDokdo.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Fantazyor";
    src: url("./assets/fonts/Fantazyor/Fantazyor.woff2") format("woff2"),
         url("./assets/fonts/Fantazyor/Fantazyor.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "FiraCode";
    src: url("./assets/fonts/FiraCode/FiraCode.woff2") format("woff2"),
         url("./assets/fonts/FiraCode/FiraCode.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Galaktika";
    src: url("./assets/fonts/Galaktika/Galaktika.woff2") format("woff2"),
         url("./assets/fonts/Galaktika/Galaktika.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Galaktika";
    src: url("./assets/fonts/Galaktika/Galaktika.woff2") format("woff2"),
         url("./assets/fonts/Galaktika/Galaktika.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Gogol";
    src: url("./assets/fonts/Gogol/Gogol.woff2") format("woff2"),
         url("./assets/fonts/Gogol/Gogol.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "GolosText";
    src: url("./assets/fonts/GolosText/GolosText.woff2") format("woff2"),
         url("./assets/fonts/GolosText/GolosText.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "GolosUI";
    src: url("./assets/fonts/GolosUI/GolosUI.woff2") format("woff2"),
         url("./assets/fonts/GolosUI/GolosUI.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Gropled";
    src: url("./assets/fonts/Gropled/Gropled.woff2") format("woff2"),
         url("./assets/fonts/Gropled/Gropled.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "HachiMaruPop";
    src: url("./assets/fonts/HachiMaruPop/HachiMaruPop.woff2") format("woff2"),
         url("./assets/fonts/HachiMaruPop/HachiMaruPop.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Hagin";
    src: url("./assets/fonts/Hagin/Hagin.woff2") format("woff2"),
         url("./assets/fonts/Hagin/Hagin.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "HinaMincho";
    src: url("./assets/fonts/HinaMincho/HinaMincho.woff2") format("woff2"),
         url("./assets/fonts/HinaMincho/HinaMincho.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "IgraSans";
    src: url("./assets/fonts/IgraSans/IgraSans.woff2") format("woff2"),
         url("./assets/fonts/IgraSans/IgraSans.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("./assets/fonts/JetBrainsMono/JetBrainsMono.woff2") format("woff2"),
         url("./assets/fonts/JetBrainsMono/JetBrainsMono.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Jost";
    src: url("./assets/fonts/Jost/Jost.woff2") format("woff2"),
         url("./assets/fonts/Jost/Jost.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Kanyon";
    src: url("./assets/fonts/Kanyon/Kanyon.woff2") format("woff2"),
         url("./assets/fonts/Kanyon/Kanyon.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Kurale";
    src: url("./assets/fonts/Kurale/Kurale.woff2") format("woff2"),
         url("./assets/fonts/Kurale/Kurale.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "KyivTypeTitling";
    src: url("./assets/fonts/KyivTypeTitling/KyivTypeTitling.woff2") format("woff2"),
         url("./assets/fonts/KyivTypeTitling/KyivTypeTitling.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Lack";
    src: url("./assets/fonts/Lack/Lack.woff2") format("woff2"),
         url("./assets/fonts/Lack/Lack.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Literata";
    src: url("./assets/fonts/Literata/Literata.woff2") format("woff2"),
         url("./assets/fonts/Literata/Literata.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "MarckScript";
    src: url("./assets/fonts/MarckScript/MarckScript.woff2") format("woff2"),
         url("./assets/fonts/MarckScript/MarckScript.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Marenkov";
    src: url("./assets/fonts/Marenkov/Marenkov.woff2") format("woff2"),
         url("./assets/fonts/Marenkov/Marenkov.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Maxico";
    src: url("./assets/fonts/Maxico/Maxico.woff2") format("woff2"),
         url("./assets/fonts/Maxico/Maxico.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Moniqa";
    src: url("./assets/fonts/Moniqa/Moniqa.woff2") format("woff2"),
         url("./assets/fonts/Moniqa/Moniqa.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "NewWheels";
    src: url("./assets/fonts/NewWheels/NewWheels.woff2") format("woff2"),
         url("./assets/fonts/NewWheels/NewWheels.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "OldStandardTT";
    src: url("./assets/fonts/OldStandardTT/OldStandardTT.woff2") format("woff2"),
         url("./assets/fonts/OldStandardTT/OldStandardTT.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Pacifico";
    src: url("./assets/fonts/Pacifico/Pacifico.woff2") format("woff2"),
         url("./assets/fonts/Pacifico/Pacifico.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Palka";
    src: url("./assets/fonts/Palka/Palka.woff2") format("woff2"),
         url("./assets/fonts/Palka/Palka.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Pattaya";
    src: url("./assets/fonts/Pattaya/Pattaya.woff2") format("woff2"),
         url("./assets/fonts/Pattaya/Pattaya.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "PeaceSans";
    src: url("./assets/fonts/PeaceSans/PeaceSans.woff2") format("woff2"),
         url("./assets/fonts/PeaceSans/PeaceSans.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Piazzolla";
    src: url("./assets/fonts/Piazzolla/Piazzolla.woff2") format("woff2"),
         url("./assets/fonts/Piazzolla/Piazzolla.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Podkova";
    src: url("./assets/fonts/Podkova/Podkova.woff2") format("woff2"),
         url("./assets/fonts/Podkova/Podkova.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "PoiretOne";
    src: url("./assets/fonts/PoiretOne/PoiretOne.woff2") format("woff2"),
         url("./assets/fonts/PoiretOne/PoiretOne.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Polonium";
    src: url("./assets/fonts/Polonium/Polonium.woff2") format("woff2"),
         url("./assets/fonts/Polonium/Polonium.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Prata";
    src: url("./assets/fonts/Prata/Prata.woff2") format("woff2"),
         url("./assets/fonts/Prata/Prata.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Pribambas";
    src: url("./assets/fonts/Pribambas/Pribambas.woff2") format("woff2"),
         url("./assets/fonts/Pribambas/Pribambas.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "PTAstraSerif";
    src: url("./assets/fonts/PTAstraSerif/PTAstraSerif.woff2") format("woff2"),
         url("./assets/fonts/PTAstraSerif/PTAstraSerif.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "PTMono";
    src: url("./assets/fonts/PTMono/PTMono.woff2") format("woff2"),
         url("./assets/fonts/PTMono/PTMono.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Ramona";
    src: url("./assets/fonts/Ramona/Ramona.woff2") format("woff2"),
         url("./assets/fonts/Ramona/Ramona.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "RBNaftalin";
    src: url("./assets/fonts/RBNaftalin/RBNaftalin.woff2") format("woff2"),
         url("./assets/fonts/RBNaftalin/RBNaftalin.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "ReggaeOne";
    src: url("./assets/fonts/ReggaeOne/ReggaeOne.woff2") format("woff2"),
         url("./assets/fonts/ReggaeOne/ReggaeOne.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "RobotoMono";
    src: url("./assets/fonts/RobotoMono/RobotoMono.woff2") format("woff2"),
         url("./assets/fonts/RobotoMono/RobotoMono.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "RousseauDeco";
    src: url("./assets/fonts/RousseauDeco/RousseauDeco.woff2") format("woff2"),
         url("./assets/fonts/RousseauDeco/RousseauDeco.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Sansation";
    src: url("./assets/fonts/Sansation/Sansation.woff2") format("woff2"),
         url("./assets/fonts/Sansation/Sansation.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "SeymourOne";
    src: url("./assets/fonts/SeymourOne/SeymourOne.woff2") format("woff2"),
         url("./assets/fonts/SeymourOne/SeymourOne.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Shadow";
    src: url("./assets/fonts/Shadow/Shadow.woff2") format("woff2"),
         url("./assets/fonts/Shadow/Shadow.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Shanghai";
    src: url("./assets/fonts/Shanghai/Shanghai.woff2") format("woff2"),
         url("./assets/fonts/Shanghai/Shanghai.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Silverfake";
    src: url("./assets/fonts/Silverfake/Silverfake.woff2") format("woff2"),
         url("./assets/fonts/Silverfake/Silverfake.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Sirotica";
    src: url("./assets/fonts/Sirotica/Sirotica.woff2") format("woff2"),
         url("./assets/fonts/Sirotica/Sirotica.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Sjz";
    src: url("./assets/fonts/Sjz/Sjz.woff2") format("woff2"),
         url("./assets/fonts/Sjz/Sjz.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Stadium";
    src: url("./assets/fonts/Stadium/Stadium.woff2") format("woff2"),
         url("./assets/fonts/Stadium/Stadium.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Storytella";
    src: url("./assets/fonts/Storytella/Storytella.woff2") format("woff2"),
         url("./assets/fonts/Storytella/Storytella.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Underdog";
    src: url("./assets/fonts/Underdog/Underdog.woff2") format("woff2"),
         url("./assets/fonts/Underdog/Underdog.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "Usually";
    src: url("./assets/fonts/Usually/Usually.woff2") format("woff2"),
         url("./assets/fonts/Usually/Usually.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "ViaodaLibre";
    src: url("./assets/fonts/ViaodaLibre/ViaodaLibre.woff2") format("woff2"),
         url("./assets/fonts/ViaodaLibre/ViaodaLibre.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "VictorMono";
    src: url("./assets/fonts/VictorMono/VictorMono.woff2") format("woff2"),
         url("./assets/fonts/VictorMono/VictorMono.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "VPCH2";
    src: url("./assets/fonts/VPCH2/VPCH2.woff2") format("woff2"),
         url("./assets/fonts/VPCH2/VPCH2.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "WaffelsteinStencil";
    src: url("./assets/fonts/WaffelsteinStencil/WaffelsteinStencil.woff2") format("woff2"),
         url("./assets/fonts/WaffelsteinStencil/WaffelsteinStencil.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "XXIIArabianOneNightStand";
    src: url("./assets/fonts/XXIIArabianOneNightStand/XXIIArabianOneNightStand.woff2") format("woff2"),
         url("./assets/fonts/XXIIArabianOneNightStand/XXIIArabianOneNightStand.woff") format("woff");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "YanoneKaffeesatz";
    src: url("./assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz.woff2") format("woff2"),
         url("./assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz.woff") format("woff");
    font-weight: normal;
    font-display: block;
}